@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary {
    @apply font-sans text-xl font-bold text-secondary;
  }

  .basic {
    @apply font-sans text-base font-semibold text-primary;
  }

  .secondary {
    @apply font-sans text-xl font-bold text-secondary;
  }

  .title {
    @apply font-bold text-2xl text-primary font-sans uppercase text-center mb-12;
  }

  .btn {
    @apply py-3 px-8 rounded-full uppercase text-white font-bold inline-block relative transition-all transform-gpu bg-brand;
  }

  .btn:hover {
    @apply translate-y-[-3px] shadow-md;
  }

  .btn:active {
    @apply translate-y-[-1px] shadow-sm;
  }

  .btn::after {
    @apply content-[''] h-full w-full absolute top-0 left-0 -z-10 inset-0 rounded-full transition-all duration-500 bg-brand;
  }

  .btn:hover::after {
    @apply scale-x-[1.4] scale-y-[1.6] opacity-0;
  }

  .productBox {
    @apply p-4 bg-[#F8F9FD] rounded-3xl px-8 py-6 border-8 border-solid border-white;
  }

  .productlist table tbody tr:nth-child(even) {
    @apply bg-[#f3f3f3];
  }

  .productlist table tbody tr:nth-child(odd):hover {
    @apply bg-[rgba(0,0,0,.075)];
  }

  .productlist table tbody tr td {
    @apply py-5 text-center basic;
  }

  /* ============= */
  .delete_btn {
    @apply w-8 h-8 rounded-full bg-red-600 border-none font-semibold flex items-center justify-center shadow-md cursor-pointer transition-all overflow-hidden relative text-white text-base before:absolute before:-top-8 before:content-['Delete'] before:text-white before:transition-all before:text-[2px];
  }

  .delete_btn:hover {
    @apply w-24 rounded-full transition-all bg-red-600 items-center before:text-sm before:opacity-100 before:translate-y-[30px] before:transition-all;
  }

  .delete_btn:hover .blt_icon {
    @apply text-3xl transition-all translate-y-[60%];
  }

  .edit_btn {
    @apply w-8 h-8 rounded-full bg-brand border-none font-semibold flex items-center justify-center shadow-md cursor-pointer transition-all overflow-hidden relative text-white text-base before:absolute before:-top-8 before:content-['Edit'] before:text-white before:transition-all before:text-[2px];
  }

  .edit_btn:hover {
    @apply w-24 rounded-full transition-all bg-brand items-center before:text-sm before:opacity-100 before:translate-y-[30px] before:transition-all;
  }

  .edit_btn:hover .edit_icon {
    @apply text-3xl transition-all translate-y-[60%];
  }

  /* ============= */
  .search {
    @apply w-1/2 px-3 h-fit flex items-center justify-between rounded-xl border-0 text-gray-600 shadow-input;
  }

  .search input {
    @apply focus:ring-0 focus:outline-none py-3 bg-inherit w-full;
  }

  /* ============= */
  .input {
    @apply py-4 px-5 rounded-full block w-4/5 border-none shadow-input outline-none bg-inherit text-secondary;
  }

  .inputField {
    @apply w-full h-10 block bg-transparent border-b-2 border-solid border-gray-300 rounded-[30px] my-3 mx-5 text-black font-semibold pl-7;
  }

  .inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
  }
}

.calculator {
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
}

form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(216, 130, 0);
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

form input[type="button"]:hover {
  background-color: rgb(255, 94, 0);
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgb(64, 64, 64);
}

form input.equal {
  width: 123px;
}

.demo-wrapper {
  border: 1px solid #ccc;
}