@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary {
    @apply font-sans text-xl font-bold text-secondary;
  }

  .title {
    @apply font-bold text-2xl text-primary font-sans uppercase text-center mb-12;
  }

  .btn {
    @apply py-3 px-8 rounded-full font-medium uppercase text-white font-bold inline-block relative transition-transform transition-shadow transform-gpu bg-brand;
  }

  .btn:hover {
    @apply translate-y-[-3px] shadow-md;
  }

  .btn:active {
    @apply translate-y-[-1px] shadow-sm;
  }

  .btn::after {
    @apply content-[''] h-full w-full absolute top-0 left-0 -z-10 inset-0 rounded-full transition-all duration-500 bg-brand;
  }

  .btn:hover::after {
    @apply scale-x-[1.4] scale-y-[1.6] opacity-0;
  }

  .productBox {
    @apply p-4 bg-[#F8F9FD] rounded-3xl px-8 py-6 border-8 border-solid border-white;
  }

  .input {
    padding: 1rem 1.2rem;
    margin: 10px 0 20px;
    border-radius: 2rem;
    display: block;
    width: 80%;
    border: none;
    box-shadow: inset 6px 6px 8px rgba(97, 97, 97, 0.075),
      6px 6px 6px rgba(255, 255, 255, 0.781);
    outline: none;
    background-color: inherit;
    color: rgb(38, 38, 38);
    font-size: inherit;
    height: auto;
    /* @apply py-4 px-5 */
  }


  .inputField {
    width: 100%;
    height: 40px;
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    border-radius: 30px;
    margin: 10px 0 20px;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }

  .inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
  }
}


.calculator {
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
}

form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(216, 130, 0);
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

form input[type="button"]:hover {
  background-color: rgb(255, 94, 0);
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgb(64, 64, 64);
}

form input.equal {
  width: 123px;
}

.demo-wrapper {
  border: 1px solid #ccc;
}