@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary {
    @apply font-sans text-xl font-bold text-secondary relative;
  }

  .basic {
    @apply font-sans text-base font-semibold text-primary;
  }

  .secondary {
    @apply font-sans text-xl font-bold text-secondary;
  }

  .title {
    @apply font-bold text-2xl text-primary font-sans uppercase text-center mb-12;
  }

  .btn {
    @apply py-3 px-8 rounded-full uppercase text-white font-bold inline-block relative transition-all transform-gpu bg-brand;
  }

  .btn:hover {
    @apply translate-y-[-3px] shadow-md;
  }

  .btn:active {
    @apply translate-y-[-1px] shadow-sm;
  }

  .btn::after {
    @apply content-[''] h-full w-full absolute top-0 left-0 -z-10 inset-0 rounded-full transition-all duration-500 bg-brand;
  }

  .btn:hover::after {
    @apply scale-x-[1.4] scale-y-[1.6] opacity-0;
  }

  .productBox {
    @apply p-4 bg-[#F8F9FD] rounded-3xl px-8 py-6 border-8 border-solid border-white;
  }

  .productlist table tbody tr:nth-child(even) {
    @apply bg-[#f3f3f3];
  }

  .productlist table tbody tr:nth-child(odd):hover {
    @apply bg-[rgba(0,0,0,.075)];
  }

  .productlist table tbody tr td {
    @apply py-5 text-center basic;
  }

  /* ============= */
  .delete_btn {
    @apply w-8 h-8 rounded-full bg-red-600 border-none font-semibold flex items-center justify-center shadow-md cursor-pointer transition-all overflow-hidden relative text-white text-base before:absolute before:-top-8 before:content-['Delete'] before:text-white before:transition-all before:text-[2px];
  }

  .delete_btn:hover {
    @apply w-24 rounded-full transition-all bg-red-600 items-center before:text-sm before:opacity-100 before:translate-y-[30px] before:transition-all;
  }

  .delete_btn:hover .blt_icon {
    @apply text-3xl transition-all translate-y-[60%];
  }

  .detail_btn {
    @apply w-8 h-8 rounded-full bg-[#007EC6] border-none font-semibold flex items-center justify-center shadow-md cursor-pointer transition-all overflow-hidden relative text-white text-base before:absolute before:-top-8 before:content-['Details'] before:text-white before:transition-all before:text-[2px];
  }

  .detail_btn:hover {
    @apply w-24 rounded-full transition-all  items-center before:text-sm before:opacity-100 before:translate-y-[30px] before:transition-all;
  }

  .detail_btn:hover .detail_icon {
    @apply text-3xl transition-all translate-y-[60%];
  }
  .edit_btn {
    @apply w-8 h-8 rounded-full bg-brand border-none font-semibold flex items-center justify-center shadow-md cursor-pointer transition-all overflow-hidden relative text-white text-base before:absolute before:-top-8 before:content-['Edit'] before:text-white before:transition-all before:text-[2px];
  }

  .edit_btn:hover {
    @apply w-24 rounded-full transition-all bg-brand items-center before:text-sm before:opacity-100 before:translate-y-[30px] before:transition-all;
  }

  .edit_btn:hover .edit_icon {
    @apply text-3xl transition-all translate-y-[60%];
  }

  .approved_btn {
    @apply h-10 rounded-full border-none font-semibold flex justify-center shadow-md cursor-pointer overflow-hidden relative text-white text-base before:absolute before:-top-8 before:content-['Approved'] before:text-white before:text-[2px] w-24 transition-all bg-brand items-center before:text-sm before:opacity-100 before:translate-y-[32px] before:transition-all;
  }

  .approved_btn .edit_icon {
    @apply text-3xl transition-all translate-y-[40%];
  }

  .reject_btn {
    @apply h-10 rounded-full border-none font-semibold flex justify-center shadow-md cursor-pointer overflow-hidden relative text-white text-base before:absolute before:-top-8 before:content-['Reject'] before:text-white before:text-[2px] w-24 transition-all bg-red-600 items-center before:text-sm before:opacity-100 before:translate-y-[32px] before:transition-all;
  }

  .reject_btn .blt_icon {
    @apply text-3xl transition-all translate-y-[50%];
  }

  /* ============= */
  .search {
    @apply w-1/2 px-3 h-fit flex items-center justify-between rounded-xl border-0 text-gray-600 shadow-input;
  }

  .search input {
    @apply focus:ring-0 focus:outline-none py-3 bg-inherit w-full;
  }

  /* ============= */
  .input {
    @apply py-4 px-5 rounded-full block w-4/5 border-none shadow-input outline-none bg-inherit text-secondary;
  }

  .inputField {
    @apply w-full h-10 block bg-transparent border-b-2 border-solid border-gray-300 rounded-[30px] my-3 mx-5 text-black font-semibold pl-7;
  }

  .inputField:focus {
    @apply outline-none border-b-2 border-solid border-b-[rgb(199,114,255)];
  }

  .placeholder {
    @apply absolute left-10 top-8 transition-all;
  }

  .inputField:focus+.placeholder {
    @apply top-2 text-sm;
  }

  .inputField:valid+.placeholder {
    @apply top-2 text-sm text-green-500;
  }
 .userInput{
  @apply text-secondary text-lg font-semibold bg-[#F8F9FD]
 }
  .calculator_btn {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-brand text-white text-2xl fixed bottom-12 right-10 cursor-pointer;
  }

  .calculator_show {
    @apply scale-100 w-96 h-[500px] overflow-hidden
  }

  .calculator_hide {
    @apply w-0 h-0 overflow-hidden scale-0
  }

  .calculator {
    @apply w-full p-5 rounded-s-xl flex items-center justify-center bg-[#ccc];
  }

  .calculator input {
    @apply border-none outline-none w-16 h-16 text-lg bg-slate-500 m-1 rounded-xl text-white cursor-pointer;
  }

  .calculator input[type="button"]:hover {
    @apply bg-[#ff5e00];
  }

  .calculator .display {
    @apply flex justify-end mt-1 mb-4;
  }

  .calculator .display input {
    @apply text-right flex-1 text-4xl py-1 px-2 bg-secondary
  }

  .calculator input.equal {
    @apply w-32
  }

  /* ============================================ */
  .threedbox {
    @apply absolute top-1/2 left-0 w-[500px] -skew-y-[20deg] -translate-y-1/2 animate-[animate_5s_linear_infinite] flex justify-center;
  }

  .cube {
    @apply absolute z-[2];
  }

  .cube:nth-child(2) {
    @apply z-[1] -translate-y-[60px] -translate-x-[60px]
  }

  .cube:nth-child(3) {
    @apply z-[3] translate-y-[60px] translate-x-[60px]
  }

  .cube div {
    @apply absolute flex flex-col gap-7;
    translate: calc(-70px * var(--x)) calc(-60px * var(--y));
  }

  .cube span {
    @apply relative block w-12 h-12 bg-[#dcdcdc] transition-all z-3dspan;
  }

  .cube span:hover {
    @apply transition-none bg-[#67ef41] drop-shadow-3d;
  }

  .cube span:hover:before,
  .cube span:hover:after {
    @apply transition-none bg-[#44ef41];
  }

  .cube span:before {
    @apply content-[''] absolute -left-10 w-10 h-full bg-white origin-right skew-y-[45deg] transition-all
  }

  .cube span:after {
    @apply content-[''] absolute -top-10 left-0 w-full h-10 bg-white origin-bottom skew-x-[45deg] transition-all
  }

  /* ============================================ */
  /* ================== ChatTing ================ */
  .message-left {
    @apply text-left ml-3;
  }

  .send-input {
    @apply flex h-10 w-[230px] text-[white] text-ellipsis whitespace-nowrap overflow-hidden ml-[5px] rounded-[7px] border-[none];
    outline: none;
    background: none;
    background: none;
  }

  .send-input::placeholder {
    @apply text-[#828E9E];
  }

  .input-place {
    @apply flex flex-row items-center bg-[#40414F] h-10 w-[280px] gap-[5px] border ml-2.5 mt-[15px] rounded-[7px] border-solid border-[#2E2F3A];
  }

  .send {
    @apply w-[30px] h-[30px] bg-[none] flex items-center justify-center cursor-pointer;
  }

  .send-icon {
    @apply w-[17px];
  }
  /* ============= product Details============= */
  .product_image .active{
    @apply scale-110 border-brand
  }
  .product_color .active{
    @apply scale-110 w-7 h-7 border-2 rounded-full border-brand
  }
  /* ============= Rating  Stars ============== */
  .rating {
    @apply flex flex-row-reverse border-none justify-end;
  }
  .rating > label {
    @apply text-[#90A0A3] text-3xl inline-block m-[5px];
  }
  .rating > input {
    @apply hidden;
  }
  .rating > input:checked ~ label,
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    @apply text-[#F79426];
  }
  .rating > input:checked + label:hover,
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label,
  .rating > input:checked ~ label:hover ~ label {
    @apply text-[#FECE31];
  }
  /* ======== otp ============ */
  .otpform {
    @apply w-[400px] h-[500px] flex flex-col bg-[white] shadow-[0_4px_30px_rgba(0,0,0,0.1)] transition-all rounded-[15px] hover:shadow-[1px_1px_1px_rgba(0,0,0,0.1)];
  }
  .otpform:hover {
    @apply scale-90
  }
  .otp_input {
    @apply relative outline-none w-[2.5em] h-[2.5em] bg-[rgb(235,235,235)] shadow-[inset_3px_3px_6px_#d1d1d1,inset_-3px_-3px_6px_#ffffff] transition-all m-[1em] pl-[15px] rounded-[5px] border-[none] left-[1.5em] top-[6.5em] hover:shadow-[inset_0px_0px_0px_#d1d1d1,inset_0px_0px_0px_#ffffff] hover:bg-[lightgrey] focus:shadow-[inset_0px_0px_0px_#d1d1d1,inset_0px_0px_0px_#ffffff] focus:bg-[lightgrey];
  }
  .btn1 {
    @apply relative outline-none w-[17em] h-[3em] transition-[0.4s]  shadow-[1px_1px_3px_#b5b5b5,-1px_-1px_3px_#ffffff] rounded-[5px] border-[none] left-[2.4em] top-[8.5em] active:shadow-[inset_3px_3px_6px_#b5b5b5,inset_-3px_-3px_6px_#ffffff];
  }
  .btn2 {
    @apply relative outline-none w-[17em] h-[3em] transition-[0.4s]  shadow-[1px_1px_3px_#b5b5b5,-1px_-1px_3px_#ffffff] rounded-[5px] border-[none] left-[2.4em] top-[9.5em] active:shadow-[inset_3px_3px_6px_#b5b5b5,inset_-3px_-3px_6px_#ffffff];
  }
  /* ======== otp ============ */
}


